{% extends "base.html" %}
{% block content %}
<h2>Editar Curso</h2>
<form method="post">
    <label>Nome:</label><br>
    <input type="text" name="nome" value="{{ curso['nome'] }}" required><br><br>

    <label>Descrição:</label><br>
    <textarea name="descricao" required>{{ curso['descricao'] }}</textarea><br><br>

    <label>Carga Horária:</label><br>
    <input type="number" name="carga_horaria" value="{{ curso['carga_horaria'] }}" required><br><br>

    <label for="professor_id">Coordenador:</label>
    <select name="professor_id" id="professor_id" required>
        {% for professor in professores %}
            <option value="{{ professor.id }}"
                {% if professor.id == curso.professor_id %}selected{% endif %}>
                {{ professor.nome }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Salvar</button>
</form>
{% endblock %}