{% extends "base.html" %}
{% block content %}
<h2>Editar Matrícula</h2>
<form method="post">
    <label>Status:</label><br>
    <select name="status" required>
        <option value="ativo" {% if matricula['status'] == 'ativo' %}selected{% endif %}>Ativo</option>
        <option value="concluído" {% if matricula['status'] == 'concluído' %}selected{% endif %}>Concluído</option>
        <option value="cancelado" {% if matricula['status'] == 'cancelado' %}selected{% endif %}>Cancelado</option>
    </select><br><br>

    <button type="submit">Salvar</button>
</form>
{% endblock %}