{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Sobre o Projeto</h2>
    <p>Este sistema tem como objetivo facilitar a gestão escolar, abrangendo funcionalidades como controle de alunos, cursos, matrículas, frequência e emissão de certificados.</p>

    <h3>Equipe de Desenvolvimento</h3>
    <ul>
        <li>Glauber Noccioli de Souza – RA: 2840482223025</li>
        <li>Juliana Maniglia Giaccomassi – RA: 2840482223020</li>
        <li>Rachel Carvalho Sanches Pereira – RA: 2840482223044</li>
        <li>Rafaela Fernandes Amado – RA: 2840482223008</li>
    </ul>
</div>
{% endblock %}